body {
    min-width: 447px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #272B2A;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background: linear-gradient(#3B3939, #272424);
    height: 100%;
    margin-top: 1%;
    display: flex;
    flex-flow: column;
    border-top: solid;
    border-bottom: solid black;
    box-shadow: 0 0 0px #fff,
            0 0 0px #fff,
            0 0 0px #bc13fe,
            0 0 0px #bc13fe,
            0 0 5rem #bc13fe,
            inset 0 0 0px #bc13fe;
}





#header > h1 {
    font-family: "Sacramento", sans-serif;
    font-size: 350%;
    
    padding: 1%;
    text-align: center;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 1px #fff,
      0 0 2px #fff,
      0 0 4px #fb00ff,
      0 0 8px #fb00ff,
      0 0 9px #fb00ff,
      0 0 30px #fb00ff,
      0 0 100px #fb00ff;
}

header > #form {
    display: flex;
    align-items: center;
    max-width: 100vh;
    color: #fff;
    margin-bottom: 10px;
    background-color: #272424;
    padding: 1%;
    border-bottom: black inset;
    border-top: black inset;
    border-right: black inset;
}

#form > form{
    width: 70%;
}

.button {
    border-radius: 50px;
    padding: 4px;
    background-color: #272424;
    color: #fff;
}

.button:hover {
    background-color: #fff;
    color: black;
}

#form > a {
    text-decoration: none;
    margin-left: 12%;
    border: 2px #ffd000 outset;
    background-color: #272424;
    color: #ffd000;
    padding: 5px;
}

#form > a:hover {
    background-color: #fff;
    
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header > img {
    width: 9%;
    animation: animation 3s infinite;
}


@keyframes animation {
    0%
    {
        rotate: 20deg;
    }
    50%
    {
        rotate: -20deg;
    }
    100%
    {
        rotate: 20deg;
    }
}


.line_1 {
    display: flex;
    gap : 10px;
    width: 100%;
}
.cocktail_liste {
    background-color: aliceblue;
    border: 2px solid;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    
}

.cocktail {
    
    margin-top: 10px;
    margin: 2;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    width: 180px;
    height: 240px;
    padding-right: 10px;
    padding-left: 9px;
    padding-bottom: 5px;
    border: 2px solid;
    margin-bottom: 20px;
    margin-left: 10px;
}

a > img {
    margin-top: 5px;
    width: 100%;
    
    border: 2px black solid;
}

a {
    font-size: 110%;
    font-weight: bold;
    text-decoration: none;
    color: #272424;
    text-align: center;
}

#mojito:hover {
    width: 200px;
    height: 250px;
}

#sex_on_the_beach:hover {
    width: 200px;
    height: 250px;
}











