<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../assets/style/Cocktail.css">
        <link href='https://fonts.googleapis.com/css?family=Sacramento:400' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <div id="header">
                <img src="../assets/img/cocktail.png" alt="" id="logo_cocktail">
                <h1>World Cocktail </h1>
                <img src="../assets/img/vodka.webp" alt="" id="vodka">
            </div>

            <div id="form">
                <form action="/rechercher" method="GET">
                    <label for="search">Search :</label>
                    <input type="text" id="search" name="q">
                    <input type="submit" value="Search" class="button">
                </form>
                <a href="Accueil.html">Favorite</a>
            </div>
        </header>

        <div>
            <img src="" alt=""> <!--Placement de l'image du cocktail-->

            <div class="liste_ingredient">

            </div>
            <div class="preparation">

            </div>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>